{% extends 'base.html.twig' %}
{% block body %}

<br>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<br>
<a href="{{path('theatre_homepageAdmin')}}" class="btn btn-warning">Retour</a>

{% endblock %}