{% extends 'base.html.twig' %}
{% block title %} Qui etes vous {% endblock %}
{% block body %}

Qui etes vous ? </br>

<a href="{{path('theatre_administrateur_homepageUser',{'id': utilisateur.id})}}" >{{utilisateur.prenom}}</a>
</br>


<a href="{{path('theatre_administrateur_homepageAdmin')}}" class="btn btn-warning">Administrateur</a>


{% endblock %}

