{% extends 'base.html.twig' %}
{% block title %} Qui etes vous {% endblock %}
{% block body %}

Qui etes vous ? </br>
{% for util in utilisateurs%}
<a href="{{path('theatre_administrateur_homepageUser',{'id': util.id})}}" >{{util.prenom}}</a>
</br>
{% endfor%}

<a href="{{path('theatre_administrateur_homepageAdmin')}}" class="btn btn-warning">Administrateur</a>


{% endblock %}

