{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page introuvable</h1>

    <p>
        La page demandée n'existe pas.... plus....
        <a href="{{ path('theatre_administrateur_homepage') }}">retourner à la page d'accueil</a>.
    </p>
{% endblock %}